modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
MATCH_MIN_CONTEXT_SCORE = "0"
MATCH_MIN_MISSION_SCORE = "0"
MATCH_SCORE_DEPARTURE_DATE = "3"
MATCH_SCORE_DURATION = "4"
MATCH_SCORE_EDUCATION_DOMAIN = "3"
MATCH_SCORE_ENVIRONMENT = "4"
MATCH_SCORE_EXPERIENCE_DOMAIN = "3"
MATCH_SCORE_HOUSING = "4"
MATCH_SCORE_LANGUAGE = "4"
MATCH_SCORE_LANGUAGE_LEVEL = "4"
MATCH_SCORE_NEW_POST = "2"
MATCH_SCORE_REGION_NON = "0"
MATCH_SCORE_REGION_P1 = "10"
MATCH_SCORE_REGION_P2 = "10"
MATCH_SCORE_REGION_P3 = "7"
MATCH_SCORE_REGION_P4 = "7"
MATCH_SCORE_REGION_P5 = "3"
MATCH_SCORE_REGION_P6 = "3"
MATCH_SCORE_SKILL = "3"
MATCH_SCORE_WARNING_HOSPITAL = "5"
MATCH_SCORE_WARNING_SPARTAN = "5"
MATCH_SCORE_WARNING_ZONE_ORANGE = "5"
MATCH_SCORE_ADJACENT = "5"
MATCH_SCORE_DATE_EXACT = "10"
MATCH_SCORE_DATE_ONE_MONTH = "9"
MATCH_SCORE_DATE_OTHER = "0"
MATCH_SCORE_DATE_SIX_MONTHS = "2"
MATCH_SCORE_DATE_THREE_MONTHS = "5"
MATCH_SCORE_EXACT = "10"
MATCH_SCORE_HOUSING_NEARBY = "5"
MATCH_SCORE_HOUSING_PARTNER = "9"
MATCH_SCORE_LANGUAGE_DIFFERENT_LEVEL = "7"
MATCH_SCORE_LANGUAGE_NEW = "5"
MATCH_SCORE_SKILLS_ALL = "10"
MATCH_SCORE_SKILLS_DOMAIN = "5"
MATCH_SCORE_SKILLS_SOME = "7"
MATCH_SCORE_WARNING_KO = "0"
MATCH_SCORE_WARNING_OK = "10"
